# Indentation

* Indentation refers to the spaces at the beginning of a 
code line. It is very important as Python uses indentation
to indicate a block of code.If the indentation is not 
correct we will endup with IndentationError error.

In [ ]:
# if indentation is skipped we will encounter 
#"IndentationError: expected an indented block
p=3
if p==3:
   print('This is indentation')

This is indentation

# Docstrings


1)	Docstrings provide a convenient way of associating documentation with functions, 
classes, methods or modules.

2)	They appear right after the definition of a function, method, class, or module.

In [ ]:
def  square(num):
    '''Square Function :- This function will return the square of a number'''
    return num**2

In [ ]:
print(square.__doc__) # We can access the Docstring using doc method

Square Function :- This function will return the square of a number

In [ ]:
help(square)

Help on function square in module __main__:

square(num)
    Square Function :- This function will return the square of a number

# Type Conversions

##### `int` to `float`

In [ ]:
## convert int to float 
x = 3 # int
print(x)
print(type(x))

y = float(x)
print(y)
print(type(y))

3
<class 'int'>
3.0
<class 'float'>

##### `float` to `int`

In [ ]:
## convert float to int
y = 56.913 # float
print(y)
print(type(y))

z = int(y) # converting y to int
print(z)
print(type(z))

56.913
<class 'float'>
56
<class 'int'>

##### `string` to `int`

In [ ]:
## convert string to int
x = '50' # string
print(x)
print(type(x))

y = int(x) # converting x to int
print(y)
print(type(y))

##### `int` to `string`

In [ ]:
## convert int to string 
x = 2020
print(x)
print(type(x))

y = str(x)
print(y)
print(type(y))

##### `string` to `float`

In [ ]:
## convert str to float
x = '3.14'
print(x)
print(type(x))

y = float(x) # converting x to float
print(y)
print(type(y))

3.14
<class 'str'>
3.14
<class 'float'>

##### `float` to `string`

In [ ]:
## convert float to string 
x = 37.5
print(x)
print(type(x))

y = str(x) # converting x to string
print(y)
print(type(y))

##### `list` to `tuple`

In [ ]:
## convert list to tuple
new_list = [3,7,20,'@','DataMitess.', 'makes learning fun!']
print(new_list)
print(type(new_list))

new_tuple = tuple(new_list) # converting new_list to new_tuple
print(new_tuple)
print(type(new_tuple))

[3, 7, 20, '@', 'DataMitess.', 'makes learning fun!']
<class 'list'>
(3, 7, 20, '@', 'DataMitess.', 'makes learning fun!')
<class 'tuple'>

##### `tuple` to `list`

In [ ]:
## convert tuple to list
new_tuple = 4,1,45,92,31,60,84
print(new_tuple)
print(type(new_tuple))

new_list = list(new_tuple) # converting new_tuple to new_list
print(new_list)
print(type(new_list))

(4, 1, 45, 92, 31, 60, 84)
<class 'tuple'>
[4, 1, 45, 92, 31, 60, 84]
<class 'list'>

##### `list` to `set`

In [ ]:
# define list
new_list = ["olivia","kaseem","caleb","olivia","owen", "olivia"]
print(new_list)
print(type(new_list))

# convert to set 
new_set = set(new_list) # extracts only the unique values
print(new_set)
print(type(new_set))

['olivia', 'kaseem', 'caleb', 'olivia', 'owen', 'olivia']
<class 'list'>
{'caleb', 'olivia', 'owen', 'kaseem'}
<class 'set'>

##### `set` to `list`

In [ ]:
#define a set 
new_set = {'kaseem', 'olivia', 'caleb', 'owen'}
print(new_set)
print(type(new_set))

# convert this set to a list
new_list = list(new_set) 
print(new_list) 
print(type(new_list))

{'caleb', 'olivia', 'owen', 'kaseem'}
<class 'set'>
['caleb', 'olivia', 'owen', 'kaseem']
<class 'list'>

#### That was a lot of conversions !

### Excercise : 1 

Lets try to convert these variables into other datatypes : 

- num = 7 into `string`
- discount = '3.77' into `float`
- grocery = egg,milk,mango into `list`

## Auto Typecasting
* The Python interpreter automatically converts one data type to another without any user involvement.

In [ ]:
4 + 5.67 + False
##( background processing of the code) due to the  
##higher hierarchy of float datatype

9.67

In [ ]:
4 + 5.6 + False + True

10.6

In [ ]:
4+3+'data'+6.7

TypeError: ignored

In [ ]:
True + 3.6

4.6

# Flow Control

### `if... elif... else...` 

- `if`, `elif` and `else` keywords are used to make decisions 
  - executes different blocks of code based on certain conditions

- comparison operators and logical operators can be used to specify these conditions 

![If Conditional Flow Chart](https://i.imgur.com/NDtXKvsl.jpg "If Conditional Flow Chart")

In [ ]:
# 'if' conditional  
x = 5
y = 5

if x == y:
    print('x and y are equal')

x and y are equal

In [ ]:
# 'if' conditional  
x = 5
y = 6

if x == y:
    print('x and y are equal')

# no output because x and y are not equal

In [ ]:
# 'if... else...' conditional
x = 5
y = 6

if x == y:
    print('x and y are equal')
else:
    print('x and y are not equal')

x and y are not equal

In [ ]:
# 'if... elif... else...' conditional
x = 6
y = 3

if x == y:
    print('x and y are equal')
elif x < y:
    print('x is smaller')
else:
    print('y is smaller')

y is smaller

In [2]:
x = 10
y = 15

if x == y and x >= y:
    print('x and y are equal')

else:
    print('None of above statements are True')

None of above statements are True

In [5]:
x = 10
y = 10

if x == y or x > y:
    print('x and y are equal')

else:
    print('None of above statements are True')

x and y are equal

#### So now _if_ you know what flow control can do for you , what _else_ are you waiting for !

### Excercise : 2 

Create program where the user can enter a number , and _if_ the number is even print `'This number is even!'` or _else_ print `'This number is odd'` and otherwise `'This is not a valid number'`

### single line `if... else...` 

- use `if` and `else` in a single line as shown below

In [ ]:
is_single = True
message = 'You can date.' if is_single else 'You cannot date.'
print(message)

You can date.

In [6]:
x = 5
y = 10
message = 'x is not equal to y' if x != y else 'x and y are equal'
print(message)

x is not equal to y

### "`=`" vs. "`==`"

- `=` is an assigment operator
  - is used to set values of variables 

- `==` is a comparison operator 
  - is used to compare the equality of two objects/variables

- if `==` is used instead of `=` for comparison in `if` statement, for instance, then a syntanx error is thrown

In [ ]:
# get user input for variables 'x' and 'y'
x = float(input("Enter a number for x: ")) # `=` is an assignment operator
y = float(input("Enter a number for y: ")) # `=` is an assignment operator

# compare values of x and y 
if x == y: # `==` is a comparison operator
  print("x and y are equal") # if e quality testest passed
  if y != 0: 
    print("therefore, x / y is", x/y) 
elif x < y: 
  print("x is smaller") # if x is less than y
else:
  print("y is smaller") # if y is less than x

print("thanks!")

Enter a number for x: 10
Enter a number for y: 10
x and y are equal
therefore, x / y is 1.0
thanks!

In [8]:
a = int(input("Enter any number for a "))

b = int(input("Enter any number for b "))

c = a + b

print(c)

Enter any number for a 10
Enter any number for b 5
15

In [13]:
a = eval(input("Enter any number for a "))

b = eval(input("Enter any number for b "))

c = a + b

print(c)

Enter any number for a "abc"
Enter any number for b "xyz"
abcxyz

### "`while`" loops

- the `while` loop executes a block of code as long as a condition is true

![While Loop](https://i.imgur.com/XQaBsR3l.jpg "While Loop Schematic")

In [ ]:
# while loop example #1
n = 0 
while n < 5:
  print(n)
  n += 1

0
1
2
3
4

##### "`while`" loop with "`else`" statement

- `else` can be added at the end of a `while` loop
- to run a piece of code when the `while` condition is no longer is true

In [ ]:
# while loop example #2
n = 0 
while n < 5:
  print(n)
  n += 1
else:
  print('n is not less than 5 anymore')

0
1
2
3
4
n is not less than 5 anymore

#### I hope you picked up this valuable concept _while_ you were learning the while loop !

### Excercise : 3

Display the numbers from 4 to 100 using the while loop

### "`for`" loops

- `for` keyword is used along with `in` membership query keyword to loop over strings, lists, tuple, and dictionaries

![For Loop](https://i.imgur.com/gCVX3sPl.jpg "For Loop SChematic")

##### `for... in range()`

- `for` can be used with `in` and `range()` to generate numbers

In [ ]:
for n in range(5):
    print(n)

0
1
2
3
4

In [ ]:
for n in range(2, 6):
  print(n)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

##### "`for`" loops with strings

- foor loops can use used to loop over strings

In [ ]:
text = "DataMites."
for letter in text:
  print(letter)

D
a
t
a
M
i
t
e
s
.

##### "`for`" loop with lists, tuples, sets and dictionaries

- "`for`" loop can be used with data types like lists, tuples, sets and dictionaries

In [ ]:
# define a list
fruits_list = ["apple", "banana", "cherry"]

# run a for loop to print the elements of the list
for fruit in fruits_list:
  print(fruit)

apple
banana
cherry

In [ ]:
# define a tuple
animals_list = "dog","cat","elephant","otter"

# run a for loop to print the elements of the tuple
for animal in animals_list:
  print(animal)

dog
cat
elephant
otter

In [ ]:
# define a set 
names = {'oliva','caleb','kaseem'}

# loop over the set with for 
for name in names:
  print(name)

caleb
kaseem
oliva

In [15]:
# define a dicitonary
translations = {'a':1, 'b':2, 'c':3}

# loop over the dicitonary with for

# keys:
for entry in translations:
  print(entry)

# values:
n = 0
for entry in translations.values():
  n += entry
print(n)

a
b
c
6

#### This is what for loop can do _for_ you !

### Excercise : 4

Print the following pattern 

1 12 123 1234 12345

##### `list` comprehension 

- for loops can be written in a single line in python
  - using list comprehension

In [ ]:
# create a new list of powers of 0 to 9
powers = [num**2 for num in range(10)] # a for loop defined with list comprehension
print(powers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### `generator` object

- is not explicitly executed at creation 

- the formula (expression) for creating values is stored inside the generator

- the values are accessed with the `next` function

In [ ]:
# create a generator object with powers of 0 to 9
powers = (num**2 for num in range(10))
print(powers)

# next(powers) # call the first value in the generator

<generator object <genexpr> at 0x7f01806e9eb0>

In [ ]:
next(powers) # call the next value in the generator

StopIteration: ignored

In [ ]:
next(powers) # call the next value in the generator

In [ ]:
next(powers) # call the next value in the generator

##### nested "`for`" loops

- `for` loops can be nested to achieve looping over multiple lists

In [ ]:
adjectives = ["juicy", "big", "tasty"] # list 1
fruits = ["apple", "banana", "cherry"] # list 2

for fruit in fruits: # looping over list 2 - outer loop
  for adjective in adjectives: # looping over list 1 - inner loop
    print(adjective, fruit)

juicy apple
big apple
tasty apple
juicy banana
big banana
tasty banana
juicy cherry
big cherry
tasty cherry

### "`break`" statement

- stops a while loop even if the while condition is true

In [ ]:
n = 0
while n < 6:
  print(n)
  if n == 3:
    break # break loop when it is equal to 3
  n += 1

0
1
2
3

- stops a for loop before it has looped through all the items

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)
  if fruit == "banana":
    break # break loop after after printing banana

apple
banana

### "`continue`" statement

- the continue statement stops the current iteration, and continues with the next

In [ ]:
n = 0
while n < 6:
  n += 1
  if n == 3: # skip 3
    continue
  print(n)

1
2
4
5
6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue # skip banana
  print(x)

apple
cherry

### Indentation

- matters in Python
- blocks of code are denoted by indentation 
- `if...`,`while` and `for` code examples above shows how indentation works
  - the codes below `if`, `elif` and `else` are indented 
  - the code below `while` is indented 
  - the code below `for` is indented
- nested indentations:
  - when `while`,`for` and `if` statements are nested within each other, the code has to be further indented 

![indentation scheme](https://i.imgur.com/QmTWEcRl.jpg "Code Block Indentation")

### "`for`" vs. "`while`" loops

- choosing the right loop type makes your code more legible and can also help prevent bugs

- everything that can be written with a `for` loop can be written with a `while` loop, but `while` loops can solve some problems that `for` loops don't address easily

- you should usually write `for` loops when possible; use `for` loops when 
  - you know the number of iterations you need to do - e.g., 500 trials, 
  - one operation per character in a string, or 
  - an action on every element in a list

- if you can describe the problem you're trying to solve in terms of each or every element in an iterable
object, aim for a `for` loop. 

- benefits of a `for` loop:
  - using a `for` loop when possible will decrease the risk of writing an infinite loop 
  - will generally prevent you from running into errors with incrementing counter variables

### Exception Handling

- exception handling block framework 

  ```
  try:
    ...
  except:
    ...
  finally:
    ...
  ```

- `try` block:
  - lets you test a block of code for errors
- `except` block:
  - lets you set the response to an error 
- `finally` block:
  - execute code regardless of the outcome of the try-except block

##### Exceptiion Handling Examples

In [ ]:
# setup an error handling block 
try:
  print(x_val) # without defining x_val before, we try to print the value of x_val
except:
  print('An exception occured')

# here, since the try block code throws an error because of x_val not being defined, the except block is executed
# lets try this without a try block
print(x_val) # this raises a NameError

In [ ]:
# multiple exceptions handling
try:
  print(x_val)
except NameError: # exception handling #1
  print("x_val is not defined")
except: # exception handling #2
  print("Something else went wrong")

In [ ]:
# `finally` block example #1
try:
  print(x)
except: # this executes if the try block has an error
  print("Something went wrong")
finally: # this is executed whether an error is raised or not
  print("The 'try except' is finished!")

In [17]:
# `finally` block example #1
try:
  print(x_new)
except: # this executes if the try block has an error
  print("Something went wrong")
finally: # this is executed whether an error is raised or not
  x = 5
  x += 10
  print("value of x is", x)
  print("The 'try except' is finished!")

Something went wrong
value of x is 15
The 'try except' is finished!

##### `finally` block example #2

```python
try: # define try block
  f = open("file.txt") # open a file that exists, but with no write permission
  f.write("text to write") # try to write to file
except: # respond to error 
  print("Something went wrong when writing to file")
finally: # run this code regardless of the outcome of the try-error outcome
  f.close()
```

In [ ]:
try: # define try block
  f = open(r"C:\Users\jeet\Desktop\file.txt") # open a file that exists, but with no write permission
  f.write("text to write") # try to write to file
except: # respond to error 
  print("Something went wrong when writing to file")
finally: # run this code regardless of the outcome of the try-error outcome
  f.close()

##### `raise()` keyword

- you can geenrate a custom error if an exception occurs 
  - this is done with the `raise()` keyword

In [ ]:
## raise exception example #1
x = -1

if x < 0:
  raise Exception("Sorry, number below zero!")

In [20]:
password = eval(input("please enter your password "))

if password.isdigit():
  print("password created")

else:
  raise Exception("password needs to be a number only")

please enter your password "abc"

Exception: ignored

In [23]:
## raise exception example #2
# you can choose the specific type of Exception to raise
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed!")

TypeError: ignored

#### Let's make a custom error !

### Excercise : 5

Write a program that takes in the users name, and if the user provides a numerical datatype, `raise` an exception asking the user to `Type in your name properly !`

# Functions

- functions are reusable pieces of code
- they *only run when called* 
- they may take input `arguments`
- they may `return` processed values

- `def` keyword is used at the begeinning of a function to start defining a function
- `return` keyword is used to send some value back after processing

![Function Anatomy](https://i.imgur.com/5qSLCBil.jpg "Function Anatomy")

In [ ]:
# define a function to test for even numbers 
  # takes one integer number as an argument
  # and returns true if even and false if not 

def is_even(num):
  return num % 2 == 0

# test evenness of 55 by calling the function is_even()
print(is_even(55)) # call function and print output

# test evenness of 100 by calling the function is_even()
print(is_even(100)) # call function and print output

False
True

In [ ]:
 # define function to calculate area of a circle
# input argument is radius 

def area_circle(radius):
  ''' # start doc string 
  input: radius of circle 
  return value: computed value of area
  '''
  area = (22.0/7.0)*radius**2
  return area

print(area_circle(5))

#### Let's make a useful function 

### Excercise : 6 

Create a function that calculates the simple interest of a property purchase !

Extra pointer : If simple interest was easy , make a compound interest calculator as well !

# Scope

- a variable is only available from inside the region it is created 
  - this is called *scope*

In [ ]:
def myfunc():
  inside_variable = 300 # inside_variable is available only inside myfunc() and not accessible outside
  print(inside_variable)

myfunc() # call the function myfunc()
print(inside_variable) # throws error

300

NameError: ignored

- however, the local variable can be accessed from a function within the function

In [ ]:
def myfunc():

  inside_variable = 300

  def myinnerfunc(): # this is the inner function
    print(inside_variable) # this line accesses the inside_variable value

  myinnerfunc() # call the function myinnerfunc()

myfunc() # call the function myfunc()

print(inside_variable) # but this still throws error

300

NameError: ignored

### Global Scope

- a variable created in the main body of the Python code is a global variable and belongs to the global scope.

- global variables are available from within any scope, global and local

In [ ]:
outer_variable = 300

def myfunc():
  print(outer_variable)

myfunc()

print(outer_variable)

300
300

##### "`global`" keyword

- if you need to create a global variable, but are stuck in the local scope, you can use the `global` keyword.

- the `global` keyword makes the variable global.

In [ ]:
def myfunc():
  global global_variable
  global_variable = 300
  print(global_variable)

myfunc()

print(global_variable)

# Lambda 

- is a small anonymous function
- can take any number of arguments, but can only have one expression

- syntax: `lambda arguments : expression`

In [ ]:
# lambda function example #1:

plus_ten = lambda x : x + 10
print(plus_ten(5))

In [28]:
def calculator(a,b):

  c = a + b
  square = lambda c: c**2

  print(square(c))

In [29]:
calculator(10,5)

225

In [38]:


even_numbers = list(filter(lambda x: x % 2 == 0, range(20)))
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# lambda function example #2:

multiply = lambda a, b : a * b
print(multiply(5, 6))

In [ ]:
# lambda function example #3:

triple_sum = lambda a, b, c : a + b + c
print(triple_sum(5, 6, 3))

# Packages & Modules

Packages are software which holds certain functionalities to work on.In python we have many builtin packages which we will be
using.

Packages contains moduled and submodules.

Each and every module and submodule can be used independently by using certain keywords.

So lets assume we want to build a software where we need 4 functionalities like A,B,C,D.So you cannot go directly and we the build the software,you need to break down this into logical smaller parts.So lets say A and C are have similar types of functionality  and B and D takes similar type of functionality so we will group them under same module.

Modules and submodules provide very efficient way of writing code.If you want to make changes in A,you need to disturb any modules,you can go ahead and make the chnages.

Modules also provide code resuibilty.If we wnat to develope new software which uses only A and D,they can be used.

# Datetime package

In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. Python Datetime module comes built into Python, so there is no need to install it externally.

1)date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month and day.


2)time – An idealized time, independ|ent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond

3)datetime – Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond

4)timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [ ]:
from datetime import date

In [ ]:
my_date = date(1996, 9, 11) ## Simple date creation

In [ ]:
my_date

datetime.date(1996, 9, 11)

In [ ]:
# Getting today's date
today1 = date.today()
 
print("Today's date is", today1)

Today's date is 2023-04-11

In [ ]:
today1.isoweekday()

2

In [ ]:
# Get Today’s Year, Month, and Date

print("Current year:", today1.year)
print("Current month:", today1.month)
print("Current day:", today1.day)

Current year: 2023
Current month: 4
Current day: 11

In [ ]:
# Get date from datetime sub module
from datetime import datetime  as dt

In [ ]:
date1=dt.now()
'''
The result from the .datetime.now() method contains the year, month, day, hour, minute, second,
and microsecond (expressed as YYYY-MM-DD hh:mm:ss.ffffff).
'''
print(date1)

2023-04-11 06:28:24.404944

In [ ]:
dt.date(date1)

datetime.date(2023, 4, 11)

In [ ]:
date1.day

11

In [ ]:
date1.hour

6

In [ ]:
date1.isoweekday()

2

In [ ]:
date1.month

4

In [ ]:
# Time submodule

from datetime import time

In [ ]:
my_time = time(12,45,59)
 
print("Entered time", my_time)

Entered time 12:45:59

In [ ]:
# Timedelta function demonstration
 
from datetime import date, timedelta

current_date = date.today()

# Calculating future dates
# for 730 days
future_date_after_2yrs = current_date + timedelta(days=730)
future_date_after_2yrs

datetime.date(2025, 4, 10)

In [ ]:
## Task:-Calculate your age after 5000 days.
##The output should be in years
from datetime import date, timedelta
birth_date = date(1995,6,22)

future_year = birth_date + timedelta(days=730)

future_year.month

6

#Advance usefull Functions

## Filter Function

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [ ]:
# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False
  
  
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered = filter(fun, sequence)
  
print('The filtered letters are:')
for s in filtered:
    print(s)

The filtered letters are:
e
e

In [ ]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
  
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

## Map Function

map() function returns a map object(which is an iterator) of the results 
after applying the given function to each item of a given 
iterable (list, tuple etc.)

In [ ]:
# Return double of n
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
# Double all numbers using map and lambda
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

In [ ]:
print(list(result))

In [ ]:
# Add two lists using map and lambda
  
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
  
result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [ ]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']
  
# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

## Reduce Function

The reduce(fun,seq) function is used to apply a particular function passed in
its argument to all of the list elements mentioned in the sequence passed 
along.This function is defined in “functools” module.

In [ ]:
# importing functools for reduce()
import functools
 
# initializing list
lis = [1, 3, 5, 6, 2]
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

The sum of the list elements is : 17

In [ ]:
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is : 6

## All / Any Method

The all() method returns:

True - If all elements in a list are true
False - If any element in a list is false

The any() function returns True if any element in the list is True. 
If not, any() returns False.

In [ ]:
L1  =  [1,2,3,0,6]

In [ ]:
L3=[1,2,3,4,0]

In [ ]:
all(L3) # Will Return false as one value is false (Value 0)

False

In [ ]:
any(L1)	# Will Return True as we have items in the list with 
#True value

True

In [ ]:
L2  =  [0]


print(L2,type(L2))

[0] <class 'list'>

In [ ]:
all(L2) # Returns false as one value is false

False

In [ ]:
any(L2)

False