# Python Operators

Operators are special symbols in Python which are used to perform operations on variables/values.

## Arithmetic Operators

In [ ]:
a=5
b=2
x='Data' 
y ='Science'

In [ ]:
#  Addition
c = a + b
print(c)

7

In [ ]:
#Concatenate string using plus operator
z = x+y
print(z)

DataScience

In [ ]:
# Subtraction
c = b - c
print(c)

-1

In [ ]:
# Multiplication
c = a * b
print(c)

10

In [ ]:
# Power
c = a ** b
print(c)

25

In [ ]:
# Division
c = a / b
print(c)

2.5

In [ ]:
# Modulo of both number
c = a % b
print(c)

1

In [ ]:
# Division(floor)
c = a // b
print(c)

2

## Comparison Operators

In [ ]:
x  = 20
y  = 30

print('Is  x  greater  than  y  :-  ',x>y) 
print('Is  x  less  than    y  :-  ',x<y) 
print('Is  x  equal  to    y  :-  ',x==y)
print('Is  x  not  equal  to  y  :-  ',x!=y)
print('Is  x  greater  than  or  equal  to  y  :-  ',x>=y)
print('Is  x  less  than  or  equal  to  y  :-  ',x<=y)

In [ ]:
a = 'Data' 
b = 'Science' 
c = 'Data'

In [ ]:
a == b

In [ ]:
a ==c

In [ ]:
a != b # Comparison operators on string

## Logical Operators

In [ ]:
x = True
y = False

print('Logical  AND  operation  :-  ',x  and  y)  #  True  if  both  values  are  true
print('Logical  OR  operation  :-  ',x  or  y)  #  True  if  either  of  the  values  is  true
print('NOT  operation  :-  ',not  y  )  #  True  if  operand  is  false

## Bitwise operators

Bitwise operators act on bits and performs bit by bit operation

In [1]:
x = 18# binary form 10010
y = 6# binary form 00110

print('Bitwise  AND  operation  -  {}'.format(x&y)) 
print('Bitwise OR operation - {}'.format(x|y))

Bitwise  AND  operation  -  2
Bitwise OR operation - 22

# If  conditional statement

* A Python if statement evaluates whether a condition is equal to true or false. 
* The statement will execute a block of code if a specified condition is equal to true. Otherwise, the block of code within the if statement is not executed

In [ ]:
a=8
if a>6:
    print('We started to work on conditional statements')

In [ ]:
a=7
if a==3:
    print('Condition is true')

In [ ]:
x=5
if x==5: # If condition is false
    print('The if condition is true')
else:
    print('Else condition got executed')

In [ ]:
x=-23
if(x>0):
    print('i am in if block')
else:
    print('i am not')

In [ ]:
if(5>4):
    print('5 is big')
    print('i am in if block')
print('i am out of if block')

In [ ]:
x = 5
if x>0:
    print("X is positive")
    print("i am in IF block")
    
print("i am  out of IF block")

In [ ]:
# if ... else

x = 0

if x>0:
    print("X is positive")
    print("i am in IF block")
else:
    print("X is Negative")
    print('i am in else block')
    
print("i am  out of IF block")

In [ ]:
x=11
if(x>10):
    print('i am in if block')
elif(x==6):   
# elif will help in checking more than 1 if condition
    print('i am in elif block')
elif(x==0):
    print('Zero number')
else:
    print('i am in else block')

In [ ]:
# if... elif ... else
x =int(input('enter the number'))

if x>0:
    print("X is positive")
elif x<0:
    print("X is Negative")
    print('i am in elif block')
else:
    print("X is Zero")
    print('i am in else block')

print('outside of the loop')

In [ ]:
## Nesting
x=5
if(x>=3):
    print('i am in 1st if')
    if(x>2):
        print('i am in 2nd if')
        if(x==4):
            print('i am in 3rd if ')

In [ ]:
i=56
if(i>0):
    print('first loop')
    if(i<=5):
        print('second loop')
        print('number is in primary range')
        if(i>5):
            print('mid range')
        else:
            print('end of the loop')
else:
    print('number is negative')

print('out of the nested loop')

In [ ]:
i = 10
if (i == 10):
   
    #  First if statement
    if (i < 15):
        print("i is smaller than 15")
         
    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

# Input function

In [ ]:
a=input('Enter your name:')

In [ ]:
a

In [ ]:
a

In [ ]:
b=int(input('Enter your marks:'))

In [ ]:
b

In [ ]:
type(b)

In [ ]:
c=float(input('Enter your age:'))

In [ ]:
type(c)

# Packages

Packages are software which holds certain functionalities to work on.In python we have many builtin packages which we will be
using.

Packages contains moduled and submodules.

Each and every module and submodule can be used independently by using certain keywords.

So lets assume we want to build a software where we need 4 functionalities like A,B,C,D.So you cannot go directly and we the build the software,you need to breal down this into logical smaller parts.So lets say A and C are have similar types of functionality  and B and D takes similar type of functionality so we will group them under same module.

Modules and submodules provide very efficient way of writing code.If you want to make changes in A,you need to disturb any modules,you can go ahead and make the chnages.

Modules also provide code resuibilty.If we wnat to develope new software which uses only A and D,they can be used.

# Datetime package

In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. Python Datetime module comes built into Python, so there is no need to install it externally.

1)date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month and day.


2)time – An idealized time, independent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond

3)datetime – Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond

4)timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [ ]:
from datetime import date

In [ ]:
my_date = date(1996, 9, 11) ## Simple date creation

In [ ]:
my_date

In [ ]:
# Getting today's date
today1 = date.today()
 
print("Today's date is", today1)

In [ ]:
today1.isoweekday()

In [ ]:
# Get Today’s Year, Month, and Date

print("Current year:", today1.year)
print("Current month:", today1.month)
print("Current day:", today1.day)

In [2]:
# Get date from datetime sub module
from datetime import datetime  as dt

In [3]:
date1=dt.now()

In [4]:
date1

datetime.datetime(2023, 4, 19, 23, 3, 20, 306015)

In [5]:
dt.date(date1)

datetime.date(2023, 4, 19)

In [6]:
date1.day

19

In [7]:
date1.hour

23

In [8]:
date1.isoweekday()

3

In [9]:
date1.month

4

In [10]:
# Time submodule

from datetime import time

In [11]:
my_time = time()
 
print("Entered time", my_time)

Entered time 00:00:00

In [12]:
# Timedelta function demonstration
 
from datetime import date, timedelta

current_date = date.today()

# Calculating future dates
# for 730 days
future_date_after_2yrs = current_date + timedelta(days=730)
future_date_after_2yrs

datetime.date(2025, 4, 18)

In [13]:
## Task:-Calculate your age after 5000 days.
##The output should be in years

# Data Structures of Python

In [14]:
a=23,24

In [15]:
a+2

TypeError: can only concatenate tuple (not "int") to tuple

There are 4 major ds in python

1)List
2)Tuple
3)Dictonary
4)Sets

## List

1)	List is a sequence of items.
2)	We can have different data types under a list. 
E.g we can have integer, float and string items in a same list.

In [16]:
# List creation

l1=[] # Empty list

In [17]:
type(l1)

list

In [18]:
l2=list([1,2,3,4]) # List of integer
l2

[1, 2, 3, 4]

In [19]:
type(l2)

list

In [20]:
l3=[12.3,34.5,56.23,5.3]  # List of float

In [21]:
l4=['ABC','PQR','RES']  # List of strings

In [22]:
l5=['Data',  25  ,[50,  100],[150,  90]] 
#  Nested  Lists i.e list inside list

In [23]:
l6=[100,  'Data',  17.765] #  List  of  mixed  data  types

In [24]:
len(l2) # Number of elements in list

4

## List Indexing and  Slicing

In [25]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' ,
          'seven' , 'eight']

In [26]:
mylist[2]

'three'

In [27]:
mylist[0:3]  #  Return  all  items  from  0th  to  3rd  index  location  excluding  the  item at upper limit

['one', 'two', 'three']

In [28]:
mylist[0:7:3]

['one', 'four', 'seven']

## Add , Remove & Change Items

In [29]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [30]:
mylist.append('nine')  
#  Add  an  item  to  the  end  of  the  list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [31]:
mylist.append(2)

In [32]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 2]

In [34]:
mylist.insert(3,'ten')  
#  Add  item  at  index  location  3
mylist

['one',
 'two',
 'three',
 'ten',
 'ten',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 2]

In [35]:
mylist.extend([1,2,3])  
#Add multiple elements at a time at end of list
mylist

['one',
 'two',
 'three',
 'ten',
 'ten',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 2,
 1,
 2,
 3]

In [36]:
mylist.pop()  # Remove last  element from list

3

In [37]:
mylist

['one',
 'two',
 'three',
 'ten',
 'ten',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 2,
 1,
 2]

In [38]:
mylist.pop(8)  #  Remove  item  at  index  location  8
mylist

['one',
 'two',
 'three',
 'ten',
 'ten',
 'four',
 'five',
 'six',
 'eight',
 'nine',
 2,
 1,
 2]

In [39]:
mylist.remove('one')  #  Remove  item  "ONE" (value)
mylist

['two', 'three', 'ten', 'ten', 'four', 'five', 'six', 'eight', 'nine', 2, 1, 2]

In [40]:
del  mylist[7]  #  Remove  item  at  index  location  7
mylist

['two', 'three', 'ten', 'ten', 'four', 'five', 'six', 'nine', 2, 1, 2]

In [41]:
mylist.clear()# Empty List / Delete all items in the list
mylist

[]

In [42]:
del mylist # Delete entire list

In [43]:
mylist

NameError: name 'mylist' is not defined

## Join Lists

In [44]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [45]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [46]:
list2.extend(list1) #Append list2 with list1
list2

['five', 'six', 'seven', 'eight', 'one', 'two', 'three', 'four']

## List Membership

In [47]:
## 'in' is membership operator and will check if given element is present
## in sequence.

In [48]:
list1

['one', 'two', 'three', 'four']

In [ ]:
'one' in list1 # Check if 'one' exist in the list

In [ ]:
10 in list1 # Check if 'ten' exist in the list

## Reverse & Sort List

In [ ]:
list1

In [ ]:
list1.reverse() # Reverse the list
list1

In [ ]:
list1[::-1]  #  Reverse  the  list

In [ ]:
list1

In [ ]:
list1.sort()

In [ ]:
list1

In [ ]:
lsit4=[1,2,'A',4]

In [ ]:
lsit4.sort()

In [ ]:
lsit4

In [ ]:
list1.sort()

In [ ]:
list1

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort()	# Sort list in ascending order
mylist3

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)	#  Sort  list  in  descending  order
mylist3

In [ ]:
list4=[1,2,3,'cat','dog','egg']

In [ ]:
list4.sort()

## All / Any

The all() method returns:

True - If all elements in a list are true
False - If any element in a list is false

The any() function returns True if any element in the list is True. 
If not, any() returns False.

In [ ]:
L1  =  [1,2,3,4,6]

In [ ]:
L3=[1,2,3,4,0]

In [ ]:
all(L3) # Will Return false as one value is false (Value 0)

In [ ]:
any(L1)	# Will Return True as we have items in the list with 
#True value

In [ ]:
L2  =  [0]

In [ ]:
all(L2) # Returns false as one value is false

In [ ]:
any(L2)	# Will Return True as we have items in the list with True 
#value

# Tuples

1.	Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a         tuple once assigned.
2.	When we do not want to change the data over time, tuple is a preferred data type.
3.	Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation

In [ ]:
tup1 = ()	# Empty tuple

In [ ]:
type(tup1)

In [ ]:
tup2  =  (10,30,60)	#  tuple  of  integers  numbers

In [ ]:
tup3 = (10.77,30.66,60.89)	# tuple of float numbers

In [ ]:
tup4 =  ('one','two' , "three")	# tuple of strings

In [ ]:
tup5  =  ('Data',  25  ,(50,  100),(150,  90))	#  Nested  tuples

In [ ]:
tup6  =  (100,  'Data',  17.765)	#  Tuple  of  mixed  data  types

In [ ]:
tup7  =  ('Data',  25  ,[50,  100],[150,  90]  ,  {'John'  ,  'David'}  , 
          (99,22,33))

In [ ]:
len(tup7) #Length of tuple

## Tuple Indexing

In [ ]:
tup2[1]

In [ ]:
tup2

In [ ]:
tup2[0:2]  #  Retreive  first  element  of  the  tuple

In [ ]:
tup7

In [ ]:
tup8=('Data', 25, [50, 100], [150, 90], ['David', 'John'], (99, 22, 33))

In [ ]:
tup8[2][1]

100

In [ ]:
tup8[5][2]

33

## Tuple Slicing

In [ ]:
mytuple = ('one' , 'two' , 'three' , 
           'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple[0:3]  #  Return  all  items  from  0th  to 
#3rd  index  location  excluding  the  upper limit

## Remove & Change Items

In [ ]:
del  mytuple[0] 
#  Tuples  are  immutable  which  means  we  can't  DELETE  tuple  items

In [ ]:
mytuple[0]  =  1  
#  Tuples  are  immutable  which  means  we  can't  CHANGE  tuple  items

In [ ]:
del mytuple 
# Deleting entire tuple object is possible

In [ ]:
mytuple

In [ ]:
tup7

## Count

In [ ]:
mytuple1  =('one',  'two',  'three',  'four',  'one', 
            'one',  'two',  'three')

In [ ]:
mytuple1.count('one') # Number of times item "one" 
# occurred in the tuple.

In [ ]:
mytuple1.index('two') ## it will give first index location

## Tuple Membership

In [ ]:
'one' in mytuple1 # Check if 'one' exist in the tuple

## Sorting

In [1]:
mytuple2  =  (43,67,99,12,6,90,67)

In [2]:
sorted(mytuple2)	# Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [ ]:
sorted(mytuple2, reverse=True) # Sort in descending order

In [ ]:
mytuple2

# Sets

1)	Unordered & Unindexed collection of items.

2)	Set elements are unique. Duplicate elements are not allowed.

## Set Creation

In [ ]:
myset1={} # Empty set cannot be created by curly braces

In [ ]:
type(myset1)

In [ ]:
myset = set() # Create an empty set
print(type(myset))

In [ ]:
myset  =  {1,2,3,4,5}  #  Set  of  numbers
myset

In [ ]:
type(myset)

In [ ]:
len(myset) #Length or number of elements of the set

In [ ]:
my_set  =  {1,1,2,2,3,4,5,5}
my_set	# Duplicate elements are not allowed.

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

In [ ]:
myset2 = {'Data' , 'John' , 'Tyrion','John'} # Set of Strings
myset2

In [ ]:
myset3  =  {10,20,  "Hola",  (11,  22,  32)}  #  Mixed  datatypes
myset3

## Set Membership

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six',
         'seven', 'eight'}

In [ ]:
myset

In [ ]:
'nine' in myset # Check if 'one' exist in the set

## Add & Remove Items

In [3]:
myset={2,3,4}

In [4]:
myset.add('9')  #  Add  item  to  a  set  using  add()  method
myset
# check with bool and float
# bool data is not inserted

{2, 3, 4, '9'}

In [5]:
myset[1] ## Indexing not supported in sets

TypeError: 'set' object is not subscriptable

In [8]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])	# Add multiple item to a set using
myset

{2, 3, 4, '9', 'ELEVEN', 'TEN', 'TWELVE'}

In [9]:
myset.remove('TEN')  #  remove  item  in  a  set  using  remove()  method
myset

{2, 3, 4, '9', 'ELEVEN', 'TWELVE'}

In [10]:
myset.discard('three') # remove item from a set using discard() method
myset

{2, 3, 4, '9', 'ELEVEN', 'TWELVE'}

In [11]:
myset.clear() # Delete all items in a set
myset

set()

In [12]:
del myset # Delete the set object

In [13]:
myset

NameError: name 'myset' is not defined

## Set Operation

In [15]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}
C  =  {8,9,10}

In [16]:
A.union(B)  #  Union  of  A  and  B

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
A.union(B,  C)	#  Union  of  A,  B  and  C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}

In [20]:
A.intersection(B)  #Intersection  of  A  and  B

{4, 5}

In [21]:
A.difference(B)  #  Difference  of set. set of elements that are only in A but not in B

{1, 2, 3}

In [22]:
B.difference(A) #  set  of  elements  that  are  only  in  B  but  not  in  A

{6, 7, 8}

# Dictionary

Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed

## Create Dictionary

In [23]:
mydict = dict() # empty dictionary
mydict

{}

In [24]:
type(mydict)

dict

In [25]:
mydict  =  {1:'one'  ,  2:'two'  ,  3:'three'}  #  
#dictionary  with  integer  keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [28]:
mydict  =  dict({1:'one'  ,  2:'two'  ,  3:'three'})  #  Create  dictionary  using  dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [38]:
dict(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [32]:
mydict.keys() # Return Dictionary Keys using
# keys() method

dict_keys([1, 2, 3])

In [33]:
mydict.values() # Return Dictionary Values using 
#values() method

dict_values(['one', 'two', 'three'])

In [34]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [35]:
mydict  =  {1:'one'  ,  2:'two'  ,
            'A':['Data'  ,  'john'  ,  'Maria']} 
#  dictionary  with one value as list
mydict

{1: 'one', 2: 'two', 'A': ['Data', 'john', 'Maria']}

In [36]:
mydict['A'][1]

'john'

In [37]:
mydict['A'][1]

'john'

In [ ]:
d={0:{'one':1,'two':2,'three':3,'four':4},
   1:{'city':'bangalore','area':'kudlu'},
   'three':{'city':'mumbai','area':'Dharavi'}} # nested dictonary

In [ ]:
d[1]['area']

In [ ]:
## Access the value kudlu, mumbai

In [2]:
v=[0,1,2,3,[8,{5:[67,89,90,{'area':'kudlu','city':'bangalore'}]}]]

## get bangalore

In [5]:
v[4][1][5][3]['city']

'bangalore'

## Add, Remove & Change Items

In [ ]:
mydict1 = {'Name':'Data' , 'ID': 12345 , 'DOB': 1991 ,
           'Address' : 'Hilsinki'} 
mydict1

In [ ]:
mydict1.update({'key':'value1'})

In [ ]:
mydict1

In [ ]:
mydict1['DOB'] = 1992	# Changing Dictionary Items

In [ ]:
mydict1['ABC']=1

In [ ]:
mydict1

In [ ]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

In [ ]:
mydict1.pop('Job')  #  Removing  items  in  the  dictionary  using  Pop  method
mydict1

In [ ]:
mydict1.popitem() # A random item is removed

In [ ]:
del[mydict1['ID']] # Removing item using del method
mydict1

In [ ]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

In [ ]:
del mydict1 # Delete the dictionary object
mydict1