#Set

1)	Unordered & Unindexed collection of items.

2)	Set elements are unique. Duplicate elements are not allowed.

## Set Creation

In [1]:
myset1={} # Empty set cannot be created by curly braces

In [2]:
type(myset1)

dict

In [ ]:
myset = set() # Create an empty set
print(type(myset))

In [4]:
myset  =  {1,2,3,4,5}  #  Set  of  numbers

In [ ]:
type(myset)

In [ ]:
len(myset) #Length or number of elements of the set

In [ ]:
myset[2] # throws error because of Unindexed property

In [ ]:
my_set  =  {1,1,2,2,3,4,5,5}
my_set	# Duplicate elements are not allowed.

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

In [ ]:
myset2 = {'Data' , 'John' , 'Tyrion','John'} # Set of Strings
myset2

In [ ]:
myset3  =  {10,20,  "Hola",  (11,  22,  32)}  #  Mixed  datatypes
myset3

## Set Membership

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six',
         'seven', 'eight'}

In [ ]:
myset

In [ ]:
'nine' in myset # Check if 'one' exist in the set

## Add & Remove Items

In [1]:
myset={2,3,4}

In [2]:
myset.add('9')  #  Add  item  to  a  set  using  add()  method
myset
# check with bool and float
# bool data is not inserted

{2, 3, 4, '9'}

In [3]:
myset[1] ## Indexing not supported in sets

TypeError: 'set' object is not subscriptable

In [4]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])	# Add multiple item to a set using
myset

{2, 3, 4, '9', 'ELEVEN', 'TEN', 'TWELVE'}

In [5]:
myset.remove('TEN')  #  remove  item  in  a  set  using  remove()  method
myset

{2, 3, 4, '9', 'ELEVEN', 'TWELVE'}

In [6]:
myset.discard('three') # remove item from a set using discard() method
myset

{2, 3, 4, '9', 'ELEVEN', 'TWELVE'}

In [ ]:
myset.clear() # Delete all items in a set
myset

In [ ]:
del myset # Delete the set object

In [ ]:
myset

## Set Operation

In [ ]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}
C  =  {8,9,10}

In [ ]:
A.union(B)  #  Union  of  A  and  B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B,  C)	#  Union  of  A,  B  and  C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}

In [ ]:
A.intersection(B)  #Intersection  of  A  and  B

{4, 5}

In [ ]:
A.difference(B)  #  Difference  of set. set of elements that are only in A but not in B

{1, 2, 3}

In [ ]:
B.difference(A) #  set  of  elements  that  are  only  in  B  but  not  in  A

{6, 7, 8}